<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nickname %>
    <%= form.text_area :nickname, id: :property_nickname %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :property_address %>
  </div>

  <div class="field">
    <%= form.label :rent_amount %>
    <%= form.number_field :rent_amount, id: :property_rent_amount %>
  </div>

  <div class="field">
    <%= form.label :rent_reminder %>
    <%= form.text_area :rent_reminder, id: :property_rent_reminder %>
  </div>

  <div class="field">
    <%= form.label :rent_due_date %>
    <%= form.text_area :rent_due_date, id: :property_rent_due_date %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :property_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
