<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @property.nickname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Rent amount:</strong>
  <%= @property.rent_amount %>
</p>

<p>
  <strong>Rent reminder:</strong>
  <%= @property.rent_reminder %>
</p>

<p>
  <strong>Rent due date:</strong>
  <%= @property.rent_due_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @property.user_id %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
